*, *::before, *::after {
    box-sizing: border-box;
}

body {
        margin: 0;
        font-family: Helvetica Neue,Helvetica,arial,sans-serif;
}

a {
    text-decoration: none;
}

img,
picture {
  max-width: 100%;
}

h1, h2, h3, h4 {
    margin: 0;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

/*** nav styles ***/
.navigation {
    width: 85%;
    margin: 0 auto;
}
.first-nav {
    display: flex;
    justify-content: space-between;
}

.first-nav-items1 {
    display: flex;
    margin-top: 0.5rem;
}

.first-nav-items1 li {
    margin-right: 1.5rem;
}

.first-nav-items2 {
    display: flex;
    margin-top: 0.5rem;
}

.first-nav-items2 li {
    margin-left: 1.5rem;
}

.logo {
    width: 10%;
    height: auto;
}

.second-nav {

    display: flex;
}

.second-nav-items2 {
    display: flex;
}

.lists-two {
    display: flex;
}

.app-store-badges {
    width: 50%;
    height: 10%;
    flex-direction: column;
}

