*, *::before, *::after {
    box-sizing: border-box;
}

body {
        margin: 0;
        font-family: Helvetica Neue,Helvetica,arial,sans-serif;
        background-color: #F2F3F4;
}

a {
    text-decoration: none;
    color: white;
}

img,
picture {
  max-width: 100%;
}

h1, h2, h3, h4 {
    margin: 0;
}

li {
    list-style: none;
    margin: 0;
}

.flex {
    display: flex;
}

/*** nav styles ***/
.navigation {
    width: 95%;
    margin: 0 auto;
}
.first-nav {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.first-nav-items1 {
    display: flex;
    margin-top: 0.5rem;
}

.first-nav-items1 li {
    margin-right: 1.5rem;
}

.first-nav-items2 {
    display: flex;
    margin-top: 0.5rem;
}

.first-nav-items2 li {
    margin-left: 1.5rem;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 7%;
    height: 90%;
    border: 2px solid ;
}

.nav-title {
    margin-left: 0.7rem;
}

.second-nav {
    
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        box-shadow:  -1px 11px 43px -14px rgba(207,200,200,0.64);
}

.second-nav-cont {
    background-color: white;
}

.second-nav-items2 {
    display: flex;
    align-items: center;
    margin-right: 0;
}

.menu-logo {
    width: 10%;
    height: 50%;
    margin-right: .5rem;
}

.lists-two {
    display: flex;
}

.material-icons {
    font-size: 20px;
    margin-inline: .5rem;
    border: none;
    border-radius: 50%;
    background-color: #27AE60;
    color: white;
    padding: .7rem;
}

.second-nav-items2 > button {
    border: none;
    border-radius: 10em;
    background-color: #27AE60;
    color: white;
    padding: .7rem;
}

.navigation-indicator > p {
    font-size: 13px;
}

.mid-section-icons {
    display: flex;
    justify-content: flex-end;
}

.print {
    margin: 1rem;
    display: flex;
}

.email {
    margin: 1rem;
    display: flex;
}

.comm-icon {
        object-fit: contain;
        border: none;
        border-radius: 50%;
}

/** main styles **/

.main-body {
    margin-top: 5rem;
}


.main-container {
     width: 85%;
     margin: 0 auto;
}

.search-results {
    color: #27AE60;
    text-decoration: underline;
    font-weight: 600;
}

.main-sections {
    justify-content: space-between;
}

.main-side-nav {
    width: 30%;
    height: 300px;
    border: none;
    border-radius: 10px;
    box-shadow: -2px 3px 35px -9px rgba(165, 164, 164, 0.75);
}

.main-side-nav > h4, p, button {
    margin-left: 1rem;
    margin-top: 1.5rem;
}


.main-section-two {
    width: 60%;
}

.main-section-two >  p, button {
    margin-top: 0;
}

.call-btn {
    height: 45px;
    color: #27AE60;
    border: 2px solid #27AE60;
    border-radius: 10em;
    padding-inline: 1.5rem;
}

.initials > img {
        height: 200px;
}

.about-doc {
    align-self: flex-start;
}

#map {
    height: 100%;
    width: 50%;
}

.number {
    padding-top: 0.2rem;
    text-align: center;
    width: 25px;
    height: 25px;
    color: white;
    background-color: #27AE60;
    border: none;
    border-radius: 50%;
}

/** footer styles**/

footer {
    color: white;
    background-color: #333333;
}


.footer-header {
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    padding-block: 2rem;
}

.footer-btns > button {
    padding: .8rem;
    margin-left: .8rem;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10em;
}

.ft-h1 {
    margin-left: .4rem;
}

.footer-social-icons{
    padding-block: 2rem;
}

.about, .professionals, .Academics, .patient-resources > p > a {
    font-size: 14px;
}

.social-icon-ft {
    cursor: pointer;
    margin-right: .7rem;
    background-color: white;
    padding: .5rem;
    border: none;
}

.footer-main {
    margin-block: 3rem;
    justify-content: space-between;
}

.app-store-badges {
    width: 50%;
    height: 10%;
    flex-direction: column;
}

.download-txt {
    margin-top: 3rem;
}

.store-btn {
    border: none;
    border-radius: 5px;
}

.store-btn:nth-child(1) {
    margin-top: .5rem;
    margin-bottom: .7rem;
}

.store-btn:nth-child(2) {
    width: 120px;
}

.btn-items {
    justify-content: space-between;
}

.foot-logo-txt > p {
    font-size: 9px;
}

.big-txt {
    font-size: 15px;
}

.ft-store-icon {
    object-fit: contain;
}
