*, *::before, *::after {
    box-sizing: border-box;
}

body {
        margin: 0;
        font-family: Helvetica Neue,Helvetica,arial,sans-serif;
}

a {
    text-decoration: none;
}

img,
picture {
  max-width: 100%;
}

h1, h2, h3, h4 {
    margin: 0;
}

li {
    list-style: none;
    margin: 0;
}

.flex {
    display: flex;
}

/*** nav styles ***/
.navigation {
    width: 95%;
    margin: 0 auto;
}
.first-nav {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    background-color: #F2F3F4;
}

.first-nav-items1 {
    display: flex;
    margin-top: 0.5rem;
}

.first-nav-items1 li {
    margin-right: 1.5rem;
}

.first-nav-items2 {
    display: flex;
    margin-top: 0.5rem;
}

.first-nav-items2 li {
    margin-left: 1.5rem;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 5%;
    height: 70%;
    border: 2px solid ;
}

.nav-title {
    margin-left: 0.7rem;
}

.second-nav {

    display: flex;
}

.second-nav-items2 {
    display: flex;
    align-items: center;
}

.menu-logo {
    width: 10%;
    height: 50%;
}

.lists-two {
    display: flex;
}


/** main styles **/

.main-body {
    width: 85%;
    margin: 0 auto ;
}

/** footer styles**/

.app-store-badges {
    width: 50%;
    height: 10%;
    flex-direction: column;
}

